.inp{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.card {
    background-color: rgba(175, 156, 93, 0.548);
    border: 1px solid #810e0e;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px;
    border-radius: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="number"] {
    width: 100%;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0dc025;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    
}

#result {
    font-size: 18px;
    margin-top: 20px;
}

button:hover {
    background-color: #06f726;
}